@font-face {
    font-family: miso-bold;
    src: url("assets/miso-bold.otf");
}

body {
    margin: 0px;
}

header {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #505050;
}

#header-con {
    position: relative;
    width: 1200px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    background-color: #505050;
}

#title-name {
    top: 12px;
    float: left;
}

.title {
    position: relative;
    font-family: miso-bold;
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 20px;
}

#icons-right {
    position: relative;
    top: 8px;
    float: right;
}

a {
    text-decoration: none;
}

.icon-facebook {
    background-image: url("http://www.rleonardi.com/image/icon-facebook.png");
}

.icon {
    position: relative;
    width: 44px;
    height: 44px;
    margin-right: 8px;
    display: inline-block;
}

.icon-twitter {
    background-image: url("http://www.rleonardi.com/image/icon-twitter.png");
}

.icon-dribbble {
    background-image: url("http://www.rleonardi.com/image/icon-dribbble.png");
}

.icon-linkedin {
    background-image: url("http://www.rleonardi.com/image/icon-linkedin.png");
}

.icon-email {
    background-image: url("http://www.rleonardi.com/image/icon-email.png");
}

.icon-last {
    margin: 0px;
}

#portfolio-1 {
    background-image: url("http://www.rleonardi.com/image/ground.png");
    background-repeat: repeat-x;
    background-position: center bottom;
    background-color: #00bff3;
}

.portfolio {
    position: relative;
    width: 100%;
    height: 600px;
}

#portfolio-1-con {
    background-image: url("http://www.rleonardi.com/image/interactive-resume.png");
}

.portfolio-con {
    position: relative;
    width: 1200px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
}

.portfolio-container {
    position: relative;
    width: 1200px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
}

.portfolio-text-con-left {
    left: 0;
}

.portfolio-text-container-left {
    left: 0;
}

.portfolio-text-con {
    position: absolute;
    width: 360px;
    top: 50%;
    transform: translateY(-50%);
}

.portfolio-text-container {
    position: absolute;
    width: 360px;
    top: 50%;
    transform: translateY(-50%);
}

.portfolio-text-title {
    position: relative;
    font-family: miso-bold;
    color: #ffffff;
    font-size: 70px;
    line-height: 56px;
    margin-bottom: 18px;
}
.portfolio-text-body {
    position: relative;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
}

.portfolio-text-button {
    position: relative;
    display: inline-block;
    padding: 12px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: #ffffff;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
}

#portfolio-2 {
    background-color: #f9bf3b;
}

#portfolio-2-con {
    background-image: url("http://www.rleonardi.com/image/illustration-portfolio.png");
}

.portfolio-text-con-right {
    right: 0;
}

#portfolio-3 {
    background-image: url("http://www.rleonardi.com/image/design-portfolio-background.jpg");
    background-position: center top;
}

#design-portfolio-cloud {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 228px;
    background-image: url("http://www.rleonardi.com/image/design-portfolio-cloud.png");
    background-position: center;
}

#portfolio-container-3 {
    background-image: url("http://www.rleonardi.com/image/design-portfolio.jpg");
}

footer {
    position: relative;
    width: 100%;
    background-color: #505050;
}

#footer-con {
    position: relative;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    background-color: #505050;
}

.footer-col {
    position: relative;
    width: 360px;
    margin-right: 60px;
    margin-top: 40px;
    margin-bottom: 40px;
    float: left;
}

.title {
    position: relative;
    font-family: miso-bold;
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 20px;
}

.avatar {
    position: relative;
    width: 120px;
    height: 120px;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
    background-image: url("http://www.rleonardi.com/image/avatar.png");
}

.text {
    position: relative;
    font-family: Arial;
    font-size: 14px;
    color: #cccccc;
    line-height: 20px;
    margin-bottom: 18px;
}

.footer-col-last {
    margin-right: 0;
}

.text a {
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
}